
body {
    background-color: #ffffff; /* pastelowy błękit */
    color: #222;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}

h1 {
    color: #004080;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.logo-img {
    background-color: white;
    padding: 10px;
    border-radius: 10px; 
}